<div class="big">
  <div class="t-hello">
    <h1 style="margin: 0px;"><strong>Merhaba,</strong></h1>
    <p style="margin-top: 0px;">Haydi alışveriş yapalım?</p>
  </div>

  <div class="y-sale">
    <img class="y-s" src="./assets/picture/saleYellow.PNG">
    <img class="o-s" src="./assets/picture/saleOrange.PNG">
  </div>

  <div class="t-cat-pop">
    <h2 class="cat">Kategoriler</h2>
    <h2 class="pop">Gözde Ürünler</h2>
  </div>

  <div class="cats">
    <div class="cat-all"><img class="img-all" src="./assets/picture/all.PNG"><p style="margin-left:25px;">Tümü</p></div>
    <div class="cat-clot"><img class="img-clot" src="./assets/picture/clot.PNG"><p style="margin-left:25px;">Giyim</p></div>
    <div class="cat-acy"><img class="img-acy" src="./assets/picture/acs.PNG"><p style="margin-left:16px;">Aksesuar</p></div>
    <div class="cat-mu"><img class="img-mu" src="./assets/picture/mu.PNG"><p style="margin-left:25px;">Makyaj</p></div>
    <div class="cat-mu"><img class="img-mu" src="./assets/picture/mu.PNG"><p style="margin-left:25px;">Makyaj</p></div>
  </div>

  <div class="pops">
    <mat-card class="card">
        <div class="yellow"></div><img class="img-pop" src="./assets/picture/wd.PNG">
        <button mat-mini-fab matTooltip="Primary" color="primary" class="icon">
            <mat-icon class="icon-img">add_shopping_cart</mat-icon>
        </button>
    </mat-card>
    <mat-card class="card">
        <div class="aqua"></div><img class="img-pop" src="./assets/picture/lb.PNG">
        <button mat-mini-fab matTooltip="Primary" color="primary" class="icon">
            <mat-icon class="icon-img">add_shopping_cart</mat-icon>
        </button>
    </mat-card>
    <mat-card class="card">
        <div class="pink"></div><img class="img-pop" src="./assets/picture/ms.PNG">
        <button mat-mini-fab matTooltip="Primary" color="primary" class="icon">
            <mat-icon class="icon-img">add_shopping_cart</mat-icon>
        </button>
    </mat-card>
    <mat-card class="card">
        <div class="yellow"></div><img class="img-pop" src="./assets/picture/wd.PNG">
        <button mat-mini-fab matTooltip="Primary" color="primary" class="icon">
            <mat-icon class="icon-img">add_shopping_cart</mat-icon>
        </button>
    </mat-card>
  </div>

  <div class="t-rv"><h2>Daha önce ziyaret edilenler</h2></div>

  <div class="rv">
    <mat-card class="rv-card">
      <img class="shs" src="./assets/picture/shs.PNG">
      <button mat-mini-fab matTooltip="Primary" color="primary" class="rv-icon">
        <mat-icon class="icon-img">add_shopping_cart</mat-icon>
    </button>
    </mat-card>

    <mat-card class="rv-card">
      <img class="shs" src="./assets/picture/shs.PNG">
      <button mat-mini-fab matTooltip="Primary" color="primary" class="rv-icon">
        <mat-icon class="icon-img">add_shopping_cart</mat-icon>
    </button>
    </mat-card>

    <mat-card class="rv-card">
      <img class="shs" src="./assets/picture/shs.PNG">
      <button mat-mini-fab matTooltip="Primary" color="primary" class="rv-icon">
        <mat-icon class="icon-img">add_shopping_cart</mat-icon>
    </button>
    </mat-card>

    <mat-card class="rv-card">
      <img class="shs" src="./assets/picture/shs.PNG">
      <button mat-mini-fab matTooltip="Primary" color="primary" class="rv-icon">
        <mat-icon class="icon-img">add_shopping_cart</mat-icon>
    </button>
    </mat-card>
  </div>


</div>